@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="序号" value="${item.id}" underline="true"/>
                            <#input id="projectName" name="项目名称" value="${item.projectName}" underline="true"/>
                            <#input id="projectDescribe" name="" value="${item.projectDescribe}" underline="true"/>
                            <#input id="projectManager" name="项目经理" value="${item.projectManager}" />
                </div>

                <div class="col-sm-6">
                            <#input id="startTime" name="开始时间" value="${item.startTime}" underline="true"/>
                            <#input id="endTime" name="结束时间" value="${item.endTime}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProjectManagementInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectManagementInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/project/projectManagement/projectManagement_info.js"></script>
@}
